<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>支付宝付款</title>
    </head>
    <body>
        <h1>测试支付宝</h1>
        <form id="alipay_form" name ="alipay_form" action="https://mapi.alipay.com/gateway.do?_input_charset=utf-8" method="get">
            <% @alipay_order.each do |k, v| %>
                <input name="<%= k %>" type="text" value="<%= v %>"/>
            <% end %>
        </form>
    </body>
    <script>
     document.forms['alipay_form'].submit();
    </script>
</html>
